/************
 * Nautilus *
 ************/

/*
.nautilus-desktop.nautilus-canvas-item {
	color: @theme_base_color;
	text-shadow: 1 1 alpha (@theme_fg_color, 0.8);
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
	text-shadow: none;
}
*/

.nautilus-desktop .entry {
	background-image: none;
	border-image: none;
}

NautilusToolbar .linked.raised GtkToggleButton.button:first-child,
NautilusToolbar .linked.raised GtkToggleButton.button:first-child:active:hover {
	border-right-width: 1px;
}

/*********
 * gedit *
 *********/

GeditMenuStackSwitcher.button.flat {
	border-image: url("img/border.svg") 3 3 4 3 / 3px 3px 4px 3px repeat;
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	border-style: solid;
	border-color: transparent;
}

.gedit-side-panel-paned,
.gedit-bottom-panel-paned,
.gedit-bottom-panel-stack-switcher .notebook GtkBox.vertical {
	border-style: solid;
	border-color: @toolbar_border_top_color;
}

.gedit-side-panel-paned {
	border-width: 0px 1px 0px 0px;
}

.gedit-bottom-panel-paned {
	border-width: 1px 0px 0px 0px;
}

.gedit-bottom-panel-stack-switcher .notebook GtkBox.vertical {
	border-width: 1px;
}

.gedit-menu-stack-switcher {
	padding: 15px 15px 2px 15px;
}

GeditMultiNotebook .notebook {
	border-width: 0px 0px 1px 1px;
}

GeditViewFrame .gedit-search-slider {
	padding: 4px;
	border-image: url("img/border-focused.svg") 3 3 4 3 / 3px 3px 4px 3px repeat;
}

.gedit-search-entry-occurrences-tag {
	color: @theme_text_color;
	background-color: @theme_bg_color;
	margin: 2px 0px 2px 2px;
	padding: 2px;
}

GeditStatusbar .frame.flat {
	border: none;
}

/**********
 * evince *
 **********/

EvPageActionWidget .linked .entry:first-child {
	border-right-width: 0px;
}

/*******************
 * gnome-documents *
 *******************/

.documents-scrolledwin.frame {
	border-width: 1px 0 0 0;
	border-radius: 0;
}

.documents-main-view.view {
	background-color: @theme_base_color;
}

GtkIconView.documents-main-view.check {
	background-repeat: no-repeat;
	background-position: center;
	background-color: @theme_base_color;
}

.documents-selection-mode.toolbar {
	border-width: 0;
}

.documents-selection-mode.toolbar .dim-label {
	color: @theme_fg_color;
}

.documents-icon-bg {
	background-color: @switch_trough_active_gradient_a;
	border-radius: 3px;
	color: @theme_base_color;
}

.documents-collection-icon {
	background-color: @theme_bg_color;
	border-radius: 3px;
}

/***************
 * gnome-panel *
 ***************/

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelToplevel,
PanelWidget,
PanelApplet {
	background-color: @os_chrome_bg_color;
	background-image: none;
	color: @os_chrome_fg_color;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
	-PanelMenuBar-icon-visible: true;
}

PanelAppletFrame {
	background-color: @applet_frame_bg_color;
	background-image: none;
	color: @os_chrome_fg_color;
}

PanelApplet .button,
PanelApplet .button:active,
PanelApplet .button:hover,
PanelApplet .button:hover:active {
	border-image: url("img/border-gnome-panel-button.svg") 3 3 4 3 / 3px 3px 4px 3px repeat;
}

PanelApplet .menu .menuitem *:active {
	color: @theme_text_color;
}

PanelApplet .menu .menuitem *:selected {
	color: @theme_selected_fg_color;
}

PanelWidget > .button
{
	padding: 0;
}

WnckPager {
	background-color: @pager_bg_color;
}

NaTrayApplet {
	-NaTrayApplet-icon-padding: 7;
	-NaTrayApplet-icon-size: 22;
}

GsmFailWhaleDialog {
	background-color: @os_chrome_bg_color;
	background-image: none;
	color: @os_chrome_fg_color;
}

/******************
 * gnome-terminal *
 ******************/

TerminalScreen {
	background-color: @theme_base_color;
	color: @theme_fg_color;
}

/*********
 * Unity *
 *********/

UnityPanelWidget,
.unity-panel {
	background-image: none;
	background-color: @theme_bg_color;
	color: @theme_fg_color;
	border-width: 0;
}

.unity-panel.menubar.menuitem:hover {
	background-color: @menu_bg_color;
	border-style: solid;
	border-width: 1px 1px 0px;
	border-color: @menubar_menuitem_hover_border_color;
	border-radius: 3px 3px 0 0;
	background-image: -gtk-gradient (linear,
	                  left top,
	                  left bottom,
	                  from (@menubar_menuitem_hover_gradient_a),
	                  color-stop (0.50, @menubar_menuitem_hover_gradient_b),
	                  color-stop (0.50, @menubar_menuitem_hover_gradient_c),
	                  to (@menubar_menuitem_hover_gradient_d));
}
