/***************
 * Resize grip *
 ***************/

.grip {
	background-image: url("img/resize-grip.png");
}

/*************************
 * Check and Radio items *
 *************************/

.check,
.check row:selected,
.check row:selected:focus {
	background-image: url("img/checkbox-unchecked.png");
}

.check:hover,
.check row:selected:hover,
.check row:selected:focus:hover {
	background-image: url("img/checkbox-unchecked-hover.png");
}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focus:insensitive {
	background-image: url("img/checkbox-unchecked-insensitive.png");
}

.check:active,
.check row:selected:active,
.check row:selected:focus:active {
	background-image: url("img/checkbox-checked.png");
}

.check:active:hover,
.check row:selected:active:hover,
.check row:selected:focus:active:hover {
	background-image: url("img/checkbox-checked-hover.png");
}

.check:active:insensitive,
.check row:selected:active:insensitive,
.check row:selected:focus:active:insensitive {
	background-image: url("img/checkbox-checked-insensitive.png");
}

.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focus:inconsistent {
	background-image: url("img/checkbox-mixed.png");
}

.check:inconsistent:hover,
.check row:selected:inconsistent:hover,
.check row:selected:focus:inconsistent:hover {
	background-image: url("img/checkbox-mixed-hover.png");
}

.check:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive,
.check row:selected:focus:inconsistent:insensitive {
	background-image: url("img/checkbox-mixed-insensitive.png");
}

.radio,
.radio row:selected,
.radio row:selected:focus {
	background-image: url("img/radio-unchecked.png");
}

.radio:hover,
.radio row:selected:hover,
.radio row:selected:focus:hover {
	background-image: url("img/radio-unchecked-hover.png");
}

.radio:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focus:insensitive {
	background-image: url("img/radio-unchecked-insensitive.png");
}

.radio:active,
.radio row:selected:active,
.radio row:selected:focus:active {
	background-image: url("img/radio-checked.png");
}

.radio:active:hover,
.radio row:selected:active:hover,
.radio row:selected:focus:active:hover {
	background-image: url("img/radio-checked-hover.png");
}

.radio:active:insensitive,
.radio row:selected:active:insensitive,
.radio row:selected:focus:active:insensitive {
	background-image: url("img/radio-checked-insensitive.png");
}

.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focus:inconsistent {
	background-image: url("img/radio-mixed.png");
}

.radio:inconsistent:hover,
.radio row:selected:inconsistent:hover,
.radio row:selected:focus:inconsistent:hover {
	background-image: url("img/radio-mixed-hover.png");
}

.radio:inconsistent:insensitive,
.radio row:selected:inconsistent:insensitive,
.radio row:selected:focus:inconsistent:insensitive {
	background-image: url("img/radio-mixed-insensitive.png");
}

.sidebar .radio:active,
.sidebar .radio:active:focus,
.sidebar .radio:active:hover {
	background-image: url("img/sidebar-radio-checked.svg");
}

.sidebar .radio:hover {
	background-image: url("img/sidebar-radio-prelight.svg");
}

.sidebar .radio:active:selected,
.sidebar .radio:active:selected:focus {
	background-image: url("img/sidebar-radio-selected.svg");
}

.sidebar .radio:selected:hover,
.sidebar .radio:selected:focus {
	background-image: url("img/sidebar-radio-selected-prelight.svg");
}

/*********************
 * GtkScale's slider *
 *********************/
 
GtkScale.slider,
GtkScale.slider.horizontal {
	background-image: url("img/scale-slider-horz.png");
}

GtkScale.slider:hover,
GtkScale.slider.horizontal:hover {
	background-image: url("img/scale-slider-horz-hover.png");
}

GtkScale.slider:insensitive,
GtkScale.slider.horizontal:insensitive {
	background-image: url("img/scale-slider-horz-insensitive.png");
}

GtkScale.slider.vertical {
	background-image: url("img/scale-slider-vert.png");
}

GtkScale.slider.vertical:hover {
	background-image: url("img/scale-slider-vert-hover.png");
}

GtkScale.slider.vertical:insensitive {
	background-image: url("img/scale-slider-vert-insensitive.png");
}

GtkScale.scale-has-marks-above.slider.horizontal {
	background-image: url("img/scale-slider-horz.png");
}

GtkScale.scale-has-marks-above.slider.horizontal:hover {
	background-image: url("img/scale-slider-horz-hover.png");
}

GtkScale.scale-has-marks-above.slider.horizontal:insensitive {
	background-image: url("img/scale-slider-horz-insensitive.png");
}

GtkScale.scale-has-marks-above.slider.vertical {
	background-image: url("img/scale-slider-vert.png");
}

GtkScale.scale-has-marks-above.slider.vertical:hover {
	background-image: url("img/scale-slider-vert-hover.png");
}

GtkScale.scale-has-marks-above.slider.vertical:insensitive {
	background-image: url("img/scale-slider-vert-insensitive.png");
}

GtkScale.scale-has-marks-below.slider.horizontal {
	background-image: url("img/scale-slider-horz.png");
}

GtkScale.scale-has-marks-below.slider.horizontal:hover {
	background-image: url("img/scale-slider-horz-hover.png");
}

GtkScale.scale-has-marks-below.slider.horizontal:insensitive {
	background-image: url("img/scale-slider-horz-insensitive.png");
}

GtkScale.scale-has-marks-below.slider.vertical {
	background-image: url("img/scale-slider-vert.png");
}

GtkScale.scale-has-marks-below.slider.vertical:hover {
	background-image: url("img/scale-slider-vert-hover.png");
}

GtkScale.scale-has-marks-below.slider.vertical:insensitive {
	background-image: url("img/scale-slider-vert-insensitive.png");
}

/*********
 * Menus *
 *********/

.menuitem.check:active {
	background-image: url("img/menuitem-checkbox-checked.png");
	background-repeat: no-repeat;
}

.menuitem.check:active:hover {
	background-image: url("img/menuitem-checkbox-checked-selected.png");
	background-repeat: no-repeat;
}

.menuitem.check:active:insensitive {
	background-image: url("img/menuitem-checkbox-checked-insensitive.png");
	background-repeat: no-repeat;
}

.menuitem.check:inconsistent,
.menuitem.radio:inconsistent {
	background-image: url("img/menuitem-checkbox-mixed.png");
	background-repeat: no-repeat;
}

.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive {
	background-image: url("img/menuitem-checkbox-mixed-insensitive.png");
	background-repeat: no-repeat;
}

.menuitem.check:inconsistent:hover,
.menuitem.radio:inconsistent:hover {
	background-image: url("img/menuitem-checkbox-mixed-selected.png");
	background-repeat: no-repeat;
}

.menuitem.radio:active {
	background-image: url("img/menuitem-radio-checked.png");
	background-repeat: no-repeat;
}

.menuitem.radio:active:hover {
	background-image: url("img/menuitem-radio-checked-selected.png");
	background-repeat: no-repeat;
}

.menuitem.radio:active:insensitive {
	background-image: url("img/menuitem-radio-checked-insensitive.png");
	background-repeat: no-repeat;
}

/*********
 * Panes *
 *********/

.pane-separator {
	background-image: url("img/pane-separator-grip-horz.png");
}

.pane-separator.vertical {
	background-image: url("img/pane-separator-grip-vert.png");
}

