/**********
 * Assets *
 **********/

/***************
 * Resize grip *
 ***************/

.grip {
	background-image: url("img/resize-grip.png");
}

/***************
 * Scrollbar *
 ***************/

.scrollbar.vertical {
	-unico-centroid-texture: url("img/slider-vert-grip.png");
}

.scrollbar.horizontal {
	-unico-centroid-texture: url("img/slider-horz-grip.png");
}

/*************************
 * Check and Radio items *
 *************************/

.check,
.check row:selected,
.check row:selected:focus {
	background-image: url("img/checkbox-unchecked.png");
}

.check:hover,
.check row:selected:hover,
.check row:selected:focus:hover {
	background-image: url("img/checkbox-unchecked-hover.png");
}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focus:insensitive {
	background-image: url("img/checkbox-unchecked-insensitive.png");
}

.check:active,
.check row:selected:active,
.check row:selected:focus:active {
	background-image: url("img/checkbox-checked.png");
}

.check:active:hover,
.check row:selected:active:hover,
.check row:selected:focus:active:hover {
	background-image: url("img/checkbox-checked-hover.png");
}

.check:active:insensitive,
.check row:selected:active:insensitive,
.check row:selected:focus:active:insensitive {
	background-image: url("img/checkbox-checked-insensitive.png");
}

.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focus:inconsistent {
	background-image: url("img/checkbox-mixed.png");
}

.check:inconsistent:hover,
.check row:selected:inconsistent:hover,
.check row:selected:focus:inconsistent:hover {
	background-image: url("img/checkbox-mixed-hover.png");
}

.check:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive,
.check row:selected:focus:inconsistent:insensitive {
	background-image: url("img/checkbox-mixed-insensitive.png");
}

.radio,
.radio row:selected,
.radio row:selected:focus {
	background-image: url("img/radio-unchecked.png");
}

.radio:hover,
.radio row:selected:hover,
.radio row:selected:focus:hover {
	background-image: url("img/radio-unchecked-hover.png");
}

.radio:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focus:insensitive {
	background-image: url("img/radio-unchecked-insensitive.png");
}

.radio:active,
.radio row:selected:active,
.radio row:selected:focus:active {
	background-image: url("img/radio-checked.png");
}

.radio:active:hover,
.radio row:selected:active:hover,
.radio row:selected:focus:active:hover {
	background-image: url("img/radio-checked-hover.png");
}

.radio:active:insensitive,
.radio row:selected:active:insensitive,
.radio row:selected:focus:active:insensitive {
	background-image: url("img/radio-checked-insensitive.png");
}

.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focus:inconsistent {
	background-image: url("img/radio-mixed.png");
}

.radio:inconsistent:hover,
.radio row:selected:inconsistent:hover,
.radio row:selected:focus:inconsistent:hover {
	background-image: url("img/radio-mixed-hover.png");
}

.radio:inconsistent:insensitive,
.radio row:selected:inconsistent:insensitive,
.radio row:selected:focus:inconsistent:insensitive {
	background-image: url("img/radio-mixed-insensitive.png");
}

.sidebar .radio:active,
.sidebar .radio:active:focus,
.sidebar .radio:active:hover {
	background-image: url("img/sidebar-radio-checked.svg");
}

.sidebar .radio:hover {
	background-image: url("img/sidebar-radio-prelight.svg");
}

.sidebar .radio:active:selected,
.sidebar .radio:active:selected:focus {
	background-image: url("img/sidebar-radio-selected.svg");
}

.sidebar .radio:selected:hover,
.sidebar .radio:selected:focus {
	background-image: url("img/sidebar-radio-selected-prelight.svg");
}

/*********************
 * GtkScale's slider *
 *********************/
 
GtkScale.slider,
GtkScale.slider.horizontal {
	background-image: url("img/scale-slider-horz.png");
}

GtkScale.slider:hover,
GtkScale.slider.horizontal:hover {
	background-image: url("img/scale-slider-horz-hover.png");
}

GtkScale.slider:insensitive,
GtkScale.slider.horizontal:insensitive {
	background-image: url("img/scale-slider-horz-insensitive.png");
}

GtkScale.slider.vertical {
	background-image: url("img/scale-slider-vert.png");
}

GtkScale.slider.vertical:hover {
	background-image: url("img/scale-slider-vert-hover.png");
}

GtkScale.slider.vertical:insensitive {
	background-image: url("img/scale-slider-vert-insensitive.png");
}

GtkScale.scale-has-marks-above.slider.horizontal {
	background-image: url("img/scale-slider-horz.png");
}

GtkScale.scale-has-marks-above.slider.horizontal:hover {
	background-image: url("img/scale-slider-horz-hover.png");
}

GtkScale.scale-has-marks-above.slider.horizontal:insensitive {
	background-image: url("img/scale-slider-horz-insensitive.png");
}

GtkScale.scale-has-marks-above.slider.vertical {
	background-image: url("img/scale-slider-vert.png");
}

GtkScale.scale-has-marks-above.slider.vertical:hover {
	background-image: url("img/scale-slider-vert-hover.png");
}

GtkScale.scale-has-marks-above.slider.vertical:insensitive {
	background-image: url("img/scale-slider-vert-insensitive.png");
}

GtkScale.scale-has-marks-below.slider.horizontal {
	background-image: url("img/scale-slider-horz.png");
}

GtkScale.scale-has-marks-below.slider.horizontal:hover {
	background-image: url("img/scale-slider-horz-hover.png");
}

GtkScale.scale-has-marks-below.slider.horizontal:insensitive {
	background-image: url("img/scale-slider-horz-insensitive.png");
}

GtkScale.scale-has-marks-below.slider.vertical {
	background-image: url("img/scale-slider-vert.png");
}

GtkScale.scale-has-marks-below.slider.vertical:hover {
	background-image: url("img/scale-slider-vert-hover.png");
}

GtkScale.scale-has-marks-below.slider.vertical:insensitive {
	background-image: url("img/scale-slider-vert-insensitive.png");
}

/*********
 * Menus *
 *********/

.menuitem.check:active {
	background-image: url("img/menuitem-checkbox-checked.png");
	background-repeat: no-repeat;
}

.menuitem.check:active:hover {
	background-image: url("img/menuitem-checkbox-checked-selected.png");
	background-repeat: no-repeat;
}

.menuitem.check:active:insensitive {
	background-image: url("img/menuitem-checkbox-checked-insensitive.png");
	background-repeat: no-repeat;
}

.menuitem.check:inconsistent,
.menuitem.radio:inconsistent {
	background-image: url("img/menuitem-checkbox-mixed.png");
	background-repeat: no-repeat;
}

.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive {
	background-image: url("img/menuitem-checkbox-mixed-insensitive.png");
	background-repeat: no-repeat;
}

.menuitem.check:inconsistent:hover,
.menuitem.radio:inconsistent:hover {
	background-image: url("img/menuitem-checkbox-mixed-selected.png");
	background-repeat: no-repeat;
}

.menuitem.radio:active {
	background-image: url("img/menuitem-radio-checked.png");
	background-repeat: no-repeat;
}

.menuitem.radio:active:hover {
	background-image: url("img/menuitem-radio-checked-selected.png");
	background-repeat: no-repeat;
}

.menuitem.radio:active:insensitive {
	background-image: url("img/menuitem-radio-checked-insensitive.png");
	background-repeat: no-repeat;
}

/*********
 * Panes *
 *********/

.pane-separator {
	background-image: url("img/pane-separator-grip-horz.png");
}

.pane-separator.vertical {
	background-image: url("img/pane-separator-grip-vert.png");
}

/***********
 * Borders *
 ***********/

/* generic element borders */
.entry,
GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .button,
.button:active,
.trough,
.trough.highlight,
GtkSwitch.trough,
/* generic button borders */
.button,
.primary-toolbar .button.raised,
.primary-toolbar .raised .button,
.primary-toolbar GtkComboBox .button,
/* primary toolbar - generic element borders */
.primary-toolbar .entry,
.primary-toolbar GtkComboBox.combobox-entry .entry,
.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar .button:active,
.primary-toolbar .button.raised:active,
.primary-toolbar .raised .button:active,
.primary-toolbar .button.raised:insensitive,
.primary-toolbar .raised .button:insensitive,
.primary-toolbar GtkSwitch.trough,
.primary-toolbar GtkSwitch.trough:insensitive,
.primary-toolbar GtkComboBox .button:active,
.primary-toolbar GtkComboBox .button:insensitive,
/* primary toolbar - hover button borders */
.primary-toolbar .button:hover {
	border-image: url("img/border.svg") 3 3 4 3 / 3px 3px 4px 3px repeat;
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	border-style: solid;
	border-color: transparent;
}

.primary-toolbar .entry,
.primary-toolbar GtkComboBox.combobox-entry .entry {
	border-width: 1px 2px 2px;
}

.primary-toolbar .entry:focus,
.primary-toolbar GtkComboBox.combobox-entry .entry:focus {
	border-width: 1px 2px 2px;
}

/* inline toolbar button borders */
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar .button:focus:active,
.inline-toolbar.toolbar .button.default:active,
.inline-toolbar.toolbar .button:focus,
.inline-toolbar.toolbar .button.default,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:active,
.inline-toolbar.toolbar GtkToolButton .button:insensitive {
	border-image: url("img/border.svg") 4 / 4px repeat;
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	border-style: solid;
	border-color: transparent;
}

/* generic insensitive element borders */
GtkSwitch.trough:insensitive,
GtkComboBox.combobox-entry .entry:insensitive,
GtkComboBox.combobox-entry .button:insensitive,
.entry:insensitive,
.button:insensitive,
.trough row {
	border-image: url("img/border-insensitive.svg") 3 3 4 3 / 3px 3px 4px 3px repeat;
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	border-style: solid;
	border-color: transparent;
}

/* focused element borders */
.entry:focus,
GtkComboBox.combobox-entry .entry:focus,
.button:focus:active,
.button.default:active,
/* focused button borders */
.button:focus,
.button.default,
.primary-toolbar .entry:focus,
.primary-toolbar .button:active:focus,
.primary-toolbar GtkComboBox.combobox-entry .entry:focus,
.primary-toolbar GtkComboBox.combobox-entry .button:focus,
.primary-toolbar .button.raised:focus:active,
.primary-toolbar .raised .button:focus:active,
.primary-toolbar .button.raised.default:active,
.primary-toolbar .raised .button.default:active,
.primary-toolbar GtkComboBox .button:active:focus,
.primary-toolbar .button.raised:focus,
.primary-toolbar .button.raised.default,
.primary-toolbar .raised .button:focus,
.primary-toolbar .raised .button.default,
.primary-toolbar GtkComboBox .button:focus {
	border-image: url("img/border-focused.svg") 3 3 4 3 / 3px 3px 4px 3px repeat;
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	border-style: solid;
	border-color: transparent;
}

/* focused switch trough borders */
GtkSwitch.trough:active {
	border-image: url("img/border-focused-switch.svg") 3 3 4 3 / 3px 3px 4px 3px repeat;
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	border-style: solid;
	border-color: transparent;
}

/* column-headers borders */
column-header.button,
column-header .button,
column-header.button:focus,
column-header .button:focus,
column-header.button:active,
column-header .button:active,
column-header.button:active:hover,
column-header .button:active:hover
column-header.button:active:focus,
column-header .button:active:focus {
	border-image: none;
	border-width: 1px;
	border-radius: 0;
	border-style: solid;
	border-color: @column_header_border_top_color @column_header_border_right_color
	              @column_header_border_bottom_color @column_header_border_left_color;

}

column-header.button:last-child,
column-header:last-child .button,
column-header.button:last-child:focus,
column-header:last-child .button:focus,
column-header.button:last-child:active,
column-header:last-child .button:active,
column-header.button:last-child:active:hover,
column-header:last-child .button:active:hover,
column-header.button:last-child:active:focus,
column-header:last-child .button:active:focus {
	border-right: none;
}

